@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color: #07D165;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
}

.section-hero {
    width: 100vw;
    background-color: black;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    height: 320px;
    background: black url(../imgs/bg\ -\ p.jpg) no-repeat;
    background-size: cover;
}

.profile > img {
    width: 135px;
}

.profile > h1 {
    font-size: 36px;
    margin-top: 15px;
}

.profile > p {
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.links {
    display: flex;
    gap: 18px;
    margin-top: 10px;
}

.link-icon {
    width: 33px;
}

.link-icon:hover {
    filter: drop-shadow(0px 0px 10px var(--color));
    transition: .3s;
}

.photo {
    position: absolute;
    top: 170%;
    border: 5px solid white;
    border-radius: 50%;
    width: 176px;
    height: 176px;
    background: black url(../imgs/profile-photo.jpg) no-repeat;
    background-size: cover;
    transform: translateY(-170%);
}

.about-me {
    background-color: white;
    border-radius: 20px;
    padding: 120px 40px 40px 40px;
}

.titles {
    text-align: center;
    color: var(--color);
    font-size: 1.7em;
    margin-bottom: 25px;
}

.about-me > p {
    text-align: justify;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.section-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
}

.container-tools {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 200px;
}

.tools > p {
    margin-top: 5px;
}

.tools > img:hover {
    filter: drop-shadow(0px 0px 10px var(--color));
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 50px 0;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
    width: 300px;
    margin-top: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
}

.project > img {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project > p {
    margin-top: 5px;
}

.project-icon {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.project-icon > a:hover {
    filter: drop-shadow(0px 0px 10px var(--color));
}